<style>
 *,p{
        margin:0;
        padding:0;
    }
    body{
      height:100vh;
      min-width:1144px;
      display:flex;
      flex-direction:column;
    }
 header{
        display:flex;
        justify-content: space-around;
        align-items:center;
    }
    .logo{
        display:flex;
        align-items:center;
        }
    ul{
        list-style:none;
    }
    footer{
        margin-top:auto;
    }
    .main_table{
        display:flex;
        justify-content: center;

    }
    .menu{
        display:flex;
        }
</style>