<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>На Складе</title>
    <!-- CSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!--     JavaScript Bundle with Popper-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
<style>
    *,p{
        margin:0;
        padding:0;
    }
    body{
      height:100vh;
      display:flex;
      flex-direction:column;
    }

    header{
        display:flex;
        justify-content: space-around;
        align-items:center;
    }
    .logo{
        display:flex;
        align-items:center;
        }
    ul{
        list-style:none;
    }
    footer{
        margin-top:auto;
    }


</style>

<header>
    <div class="logo">

            <a href="/"><img src="https://cdn.logo.com/hotlink-ok/logo-social.png" class="logo"
                             style="position:relative;height:49px;padding-top:3px;"></a>

        <div>
        <p>Инженер по ремонту: <em>{{logo.name}}</em></p>

                            <p><em>{{logo.date}}</em></p>


        </div>
    </div>
    <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Отчеты
          </a>

          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="warehouse">На складе</a></li>
            <li><a class="dropdown-item" href="repair_history">История ремонта</a></li>
<!--            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
          </ul>
    </div>
</header>
<h2 style="text-align:center">На складе</h2>

<table class="table">
  <thead>
    <tr>
                <th scope="col">№</th>
                <th scope="col">Время прихода</th>
                <th scope="col">Модель</th>
                <th scope="col">QR code</th>
                <th scope="col">Статус</th>
                <th scope="col">Комментарий</th>

    </tr>
  </thead>
  <tbody>
    <tr>
                    <th scope="row">1</th>
                    <td>19.04.2022</td>
                    <td>RC 2000</td>
                    <td class="table-danger"><a href="#">RCL_04_0025_02000</a></td>
                    <td>Ремонт</td>
                    <td>Сломан фиксатор
                    </td>
    </tr>
    <tr>
                <th scope="row">2</th>
				<td>19.04.2022</td>
				<td>AC</td>
				<td class="table-info"><a href="#">RCL_04_0405_00000</a></td>
				<td>Тест пройден</td>
                <td>Не закрыта
                            </td>
    </tr>
    <tr>
                <th scope="row">3</th>
				<td>17.04.2022</td>
				<td>NRC 5000</td>
				<td class="table-warning"><a href="#">RCL_04_0100_05000</a></td>
				<td> На Тест </td>
                <td>Не закрыта
                            </td>
    </tr>
    <tr>
                <th scope="row">4</th>
				<td>21.04.2022</td>
				<td>AC</td>
				<td class="table-light"><a href="#">RCL_04_0100_05000</a></td>
				<td> Не проверена </td>
                <td>
                </td>
    </tr>

  </tbody>
</table>
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">Vlad</a>
  </div>
  <!-- Copyright -->
</footer>
</body>
</html>